$numbering-width: 2em;
$vertical-margin: 3em;

.legal {
  max-width: 70ch;
  margin: 0 auto;
  * {
    box-sizing: border-box;
  }

  .legal-section {
    margin-bottom: 5em;

    h2,
    h3 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  .center {
    text-align: center;
  }

  .spacing-top {
    margin-top: 3em;
  }

  .first-layer {
    margin-left: $numbering-width;
    margin-bottom: $vertical-margin;
    .second-layer {
      margin-left: $numbering-width;
      margin-bottom: $vertical-margin;
      .third-layer {
        margin-left: $numbering-width;
        margin-bottom: $vertical-margin;
        .fourth-layer {
          margin-left: $numbering-width;
          margin-bottom: $vertical-margin;
        }
      }
    }
  }

  .clause-set {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 1em;
    margin-bottom: 1em;

    .clause-numbering {
      flex: 0 0 $numbering-width;
      display: flex;
      justify-content: flex-start;

      i {
        font-size: 0.3em;
        margin-left: 1.5em;
        margin-top: 1em;
      }
    }
    .clause-text {
      flex: 1;
      
      .subtitle{
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}
