body {
  margin: 0;
  padding: 0;
}

.legal {
  max-width: 70ch;
  margin: 0 auto;
}
.legal * {
  box-sizing: border-box;
}
.legal .legal-section {
  margin-bottom: 5em;
}
.legal .legal-section h2,
.legal .legal-section h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
}
.legal .center {
  text-align: center;
}
.legal .spacing-top {
  margin-top: 3em;
}
.legal .first-layer {
  margin-left: 2em;
  margin-bottom: 3em;
}
.legal .first-layer .second-layer {
  margin-left: 2em;
  margin-bottom: 3em;
}
.legal .first-layer .second-layer .third-layer {
  margin-left: 2em;
  margin-bottom: 3em;
}
.legal .first-layer .second-layer .third-layer .fourth-layer {
  margin-left: 2em;
  margin-bottom: 3em;
}
.legal .clause-set {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
}
.legal .clause-set .clause-numbering {
  flex: 0 0 2em;
  display: flex;
  justify-content: flex-start;
}
.legal .clause-set .clause-numbering i {
  font-size: 0.3em;
  margin-left: 1.5em;
  margin-top: 1em;
}
.legal .clause-set .clause-text {
  flex: 1;
}
.legal .clause-set .clause-text .subtitle {
  font-weight: bold;
  margin-bottom: 10px;
}
